$color-primary: #0C2e65;
$color-primary-accent: #24598c;

$color-secondary: #FF7F27;

$color-font: #111111;
$color-font-invert: #f0f0f0;
$color-font-title: #333333;

$color-shading: #333333;
$color-shading-accent: #cccccc;

$color-background: #ffffff;
