@import "../../styles/index";

.ModuleNavItem {
  &-href {
    color: $color-primary;
    display: block;
    padding: 10px;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $color-primary-accent;
      outline: 1px $color-primary-accent inset;
    }

    &.is-active {
      background: $color-primary-accent;
      color: $color-font-invert;
    }
  }
}
