.ModuleNavItem {
  &-href {
    color: var(--color-primary);
    display: block;
    padding: 10px;
    text-decoration: none;

    &:focus,
    &:hover {
      color: var(--color-primary-accent);
      outline: 1px var(--color-primary-accent) inset;
    }

    &.is-active {
      background: var(--color-primary-accent);
      color: var(--color-font-invert);
    }
  }
}
