@import "../../styles/index";

.Header {
  align-items: center;
  background: linear-gradient($color-primary, $color-primary-accent);
  box-shadow: 0 0 5px 0 $color-shading;
  color: $color-font-invert;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &-image {
    flex: 0 1 60%;
    max-height: 100%;
  }

  &-logo {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
  }

  &-title {
    flex: 1 0 auto;
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
  }

  &-spacer {
    height: 80px;
  }
}
