.Concept {
  &-header {
    background: var(--color-background-accent);
    box-shadow: 0 0 5px 0 var(--color-shading);
  }

  &-headerWrapper {
    box-sizing: border-box;
    margin: auto;
    max-width: 900px;
    padding: 20px;
    width: 100%;
  }

  &-title {
    color: var(--color-font-title);
    font-family: var(--font-family-title);
    font-size: 2rem;
    font-weight: 100;
    margin: 0;

    @media screen and (min-width: 600px) {
      font-size: 3.5rem;
    }
  }
}
