@import "../../styles/index";

.Concept {
  &-header {
    background: $color-background-accent;
    box-shadow: 0 0 5px 0 $color-shading;
  }

  &-headerWrapper {
    box-sizing: border-box;
    margin: auto;
    max-width: 900px;
    padding: 20px;
    width: 100%;
  }

  &-title {
    color: $color-font-title;
    font-family: $font-family-title;
    font-size: 2rem;
    font-weight: 100;
    margin: 0;

    @include media(600px) {
      font-size: 3.5rem;
    }
  }
}
